@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@500&display=swap');

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html ,body{
    scroll-behavior: smooth;
}
/* navbar-items */

.navbar-nav {

    font-size     : 17px;
    font-family   : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: normal2.5;
}

/* btn-buy-now */

.btn-primary {
    padding         : 10px 18px;
    margin-right    : 35px;
    border-radius   : 7px;
    margin-top      : 8px;
    background-color: rgb(61, 61, 255);
}

.btn-primary:hover {
    background-color: rgb(33, 33, 221);
}

/* navbar-brand */

.navbar-brand h4 {
    font-weight   : 700;
    color         : black;
    font-size     : 19px;
    margin-left   : auto;
    line-height   : 2.5;
    letter-spacing: 0.5px;
    font-family   : 'Noto Sans TC', sans-serif;
}

.dropdown-menu .list-group-item {
    padding: 18px 56px;
}



/* main container */
.main-container
{
    /* background-color: rgb(131, 15, 226); */
    background: #5301AD;
background: -webkit-radial-gradient(center, #5301AD, #9D15F0);
background: -moz-radial-gradient(center, #5301AD, #9D15F0);
background: radial-gradient(ellipse at center, #5301AD, #9D15F0);
    position: relative;
    width: 100%;
    padding-top: 70px;
    margin-top: 1%;
    padding-bottom: 120px;
    /* padding: 60px; */
    /* padding-top: 5%;
    padding-bottom: 11%;
    margin-top: 12px; */
}

.main-container::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    clip-path: polygon(100% 50%, 0 100%, 100% 100% );
}





.main-text-1
{
    background-color: rgb(245, 245, 245);
    padding-left: 12px;
    padding-top: 6.5px;
    padding-bottom: 0.5px;
    color: rgb(89, 89, 94);
    font-size: 13px;
}

.main-text-1 h6
{
    font-size: 12px;
}

.main-text-3 h5
{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.container-bg-section
{
    margin: 0 20px;
}

.form-container-bg
{
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 8px;
    padding: 10px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



/* top-form */
/* .top-form
{
    padding: auto;
    width: 100%;
    height: 100%;
    
} */


/* card-header */

.main-container.card-header h6
{
    color: rgb(0, 0, 100);
    
}




/* social-partner */

/* .social-partner
{
    padding: 5%;
} */
/* .social-partner .social-partner-items
{
    padding-right: 25%;
} */

.social-partner-main-text
{
    text-align: right;
    margin-right: 35px;
    opacity: 0.3;
    font-weight: 700;
}

.partner-logo
{
    opacity: 0.8; 
}


.social-partner-platform
{
    position: relative;
    background-color: black;
    
}

social-partner-platform::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgb(156, 22, 22);
    clip-path: polygon(100% 50%, 0 100%, 100% 100% );
}



.social-partner-platform
{
    /* background-color: rgb(131, 15, 226); */
    background: #ffffff;
    position: relative;
    width: 100%;
    padding-top: 70px;
    margin-top: 1%;
    padding-bottom: 120px;
    /* padding: 60px; */
    /* padding-top: 5%;
    padding-bottom: 11%;
    margin-top: 12px; */
}

.social-partner-platform::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background:  rgba(237, 241, 243, 0.87);
    clip-path: polygon(100% 50%, 0 100%, 100% 100% );
}

/* main marketing */
.main-marketing
{
    background-color: hsla(219, 84%, 64%, 0.911);
    
}


.marketing-container 
{
    /* background-color: rgb(131, 15, 226); */
    background: rgba(237, 241, 243, 0.87);
    position: relative;
    width: 100%;
    padding-top: 70px;
    padding-bottom: -120px;
    /* padding: 60px; */
    /* padding-top: 5%;
    padding-bottom: 11%;
    margin-top: 12px; */
}

/* .marketing-bg-container
{
    position: absolute;
} */

.marketing-container::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgb(255, 255, 255);
    clip-path: polygon(100% 50%, 0 100%, 500% 100% );
}

.marketing-text-1
{
    background-color: rgba(235, 206, 250, 0.466);
    padding-left: 15px;
    padding-top: 6.5px;
    padding-bottom: 0.5px;
    color: rgb(153, 0, 255);
    font-size: 12px;
}

.marketing-text-1 h6
{
    font-size: 12px;
}

.marketing-text-2 h4
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: rgb(59, 59, 59);
    line-height: 15px;
}

.marketing-text-3 h5
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    opacity: 0.6;
}


/* .cards-marketing
{
    padding-left:20px;
    padding-right:60px;

}
.marketing-bg-container
{
    padding-left:60px;

} */

.card
{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: rgba(189, 5, 245, 0.185) 0px 7px 29px 0px;
}

.contact-box
{
    margin-top: 40px;
    
}

/* Footer */
.social-icons
{
    margin-left: -20px;
    margin-top: -15px;
}

.social-icons i
{
    font-size: 25px;
    margin-right: -30px;
    color: rgb(128, 128, 128);
}


.contact-button
{
    text-align: right;
    margin-top: -20px;
    margin-left: -8px;
}

/* media queries */
@media (max-width:995px)
{ 
    .contact-button
{
    text-align: left;
    
}

.partner-logo
{
    width: 110px;
}

}
@media (max-width:576px)
{ 
    .contact-box
{
    margin-left: 20px;
    
}
}